<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{ name }} - {{ title }}</title>
    {%- for item in cssFiles %}
      <link rel="stylesheet" href={{ item }}>
    {%- endfor %}
  </head>
  <body>
    <div class="row">
      <div id="info_col">
        <header>
          <h1>{{ name }}</h1>
          <h2>{{ title }}</h2>
        </header>
        <section>
          <h3>Personal Info</h3>
          <h4>Location</h4>
          <p>{{ info["location"] }}</p>
          <h4>Phone</h4>
          <p>{{ info["phone"] }}</p>
          <h4>Email</h4>
          <p><a href="mailto:{{ info["email"] }}">{{ info["email"] }}</a></p>
          <h4>LinkedIn</h4>
          <p><a href="{{ info["linkedin"] }}">{{ info["linkedin"] }}</a></p>
        </section>
        <section id="skills">
          <h3>Skills</h3>
          {%- for key, value in skills.items() %}
          <p>{{ key }}</p>
          <div class="skill_bar">
            <div class="skill_bg">
              <div class="skill_fg" style="width:{{ value }}%"></div>
            </div>
          </div>
          {%- endfor %}
        </section>
        {%- if certifications %}
        <section id="certifications">
          <h3>Certifications</h3>
          {%- for item in certifications %}
          <div class="row">
            <div>
              <h4>{{ item["name"] }}</h4>
              <p>{{ item["status"] }}</p>
            </div>
          </div>
          {%- endfor %}
        </section>
        {%- endif %}
        {%- if honors %}
        <section id="honors">
          <h3>Honors</h3>
          {%- for item in honors %}
          <div class="row">
            <div>
              <h4>{{ item["name"] }}</h4>
              <p>{{ item["location"] }}</p>
            </div>
          </div>
          {%- endfor %}
        </section>
        {%- endif %}
        <section id="education">
          <h3>Education</h3>
          {%- for item in education %}
          <div class="row">
            <div>
              <h4>{{ item["institution"] }}</h4>
              <p>{{ item["degree"] }}</p>
            </div>
          </div>
          {%- endfor %}
        </section>
      </div>
      <div id="main_col">
        <section>
          <h3>About</h3>
          {%- for title, responsibilities in intro.items() %}
          <h4>{{ title }}</h4>
          <ul>
          {%- for value in responsibilities %}
            <li>{{ value }}</li>
          {%- endfor %}
          </ul>
          {%- endfor %}
        </section>
        <section>
          <h3>Experience</h3>
          {%- for item in experience %}
          <div class="row" id="{{ item["company"].lower()|replace(" ","_")|replace(".","_") }}">
            <aside class="date_col">
              <p class="from">{{ item["from"] }} - </p>
              <p class="to">{{ item["to"] }}</p>
            </aside>
            <div>
              <h4 class="company">{{ item["company"] }}</h4>
              <p class="position"> - <em>{{ item["title"] }}</em></p>
              <p>{{ item["blurb"] }}</p>
              <ul>
                {%- for value in item["accomplishments"] %}
                <li>{{ value }}</li>
                {%- endfor %}
              </ul>
            </div>
          </div>
          {%- endfor %}
        </section>
      </div>
    </div>
  </body>
</html>
